* {
    font-family: 'Segoe UI', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100svh;
}

body {
    height: 100svh;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
}

header,
#menuButtons,
#people,
#families,
#inspector>* {
    padding: 0.5rem;
}

header {
    display: flex;
    gap: 1rem;
    align-items: baseline;
}

#menuButtons {
    border-bottom: 2px #084 solid;
}

body>main#editor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex: 1;
    overflow: hidden;
}

main>* {
    overflow: hidden;
}

#people,
#families {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}

#editor input {
    flex-grow: 1;
}

.list {
    flex-grow: 1;
    overflow-y: scroll;
}

.list p {
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.network {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem;
}

.embolden {
    font-weight: bolder;
}

#families {
    border-left: 2px #084 solid;
    border-right: 2px #084 solid;
}

#inspector> :first-child {
    border-bottom: 2px #084 solid;
}

button {
    background-color: #5e5;
    color: white;
    padding: 0.2rem;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 0.4rem;
    transition: 100ms;
}

button:hover {
    background-color: #8f8;
    transform: scale(1.1);
}

.textButton {
    background-color: #0c0;
    padding-inline: 0.6rem;
}

.textButton:hover {
    background-color: #084;
    transform: none;
}

form.person {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.2rem;
}

form.family {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.2rem;
}

.children {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.hcont {
    display: flex;
    gap: 0.2rem;
}

.vcont {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
}

.grow {
    flex-grow: 1;
}

.infoBox {
    background-color: #eee;
    padding: 0.5rem 0;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
    position: relative;
}

.infoBox>* {
    margin: 0 0.75rem;
}

.small {
    font-weight: bolder;
    font-size: small;
    margin-bottom: -0.25rem;
}

.popup {
    visibility: hidden;
    position: absolute;
    background-color: #eee;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 1rem;
    padding: 1rem;
    cursor: initial;
    pointer-events: none;
    transform: none;
    top: 4rem;
    left: 5rem;
    z-index: 1;
}

.popup.show {
    visibility: visible;
}

.arrows {
    display: flex;
    flex-direction: column;
}

.arrows button:first-child {
    font-size: 0.7rem;
    padding: 0.05rem;
    padding-bottom: 0;
    border-radius: 0.3rem 0.3rem 0 0;
}

.arrows button:last-child {
    font-size: 0.7rem;
    padding: 0.05rem;
    padding-top: 0;
    border-radius: 0 0 0.3rem 0.3rem;
}